* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Glacial';
    src: url('fonts/GlacialIndifference-Regular.otf'); 
  }

  @font-face {
    font-family: 'Glacial Bold';
    src: url('fonts/GlacialIndifference-Bold.otf'); 
  }

  @font-face {
    font-family: 'League';
    src: url('fonts/LeagueSpartan-Bold.otf'); 
  }


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}


h1{
    color: #f9f9f9;
    font-family: "League";
    font-size: 6rem;
    line-height: 1.1;
    width: fit-content;
}

h2{
    color: #f9f9f9;
    font-family: "Glacial";
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: 0.09em;
    font-weight:normal;
    width: fit-content;
}

h3{
    color: #f9f9f9;
    font-family: "League";
    font-size: 1.2rem;
    line-height: 1.1;
    width: fit-content;
}

button, .button {
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    margin-top: 1rem;


    background-color: #f6ae4e;
    color: #f9f9f9;

    font-size: 1rem;
    font-family: "Glacial Bold";
    text-align: center;

    cursor: pointer;
  }

  .button:hover{
    background-color: #d88e2c;
  }

  /* bathtub */
  .bathtub {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/bathtub.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }

  

  p.text1 {
    color: #37485a;
    font-size: 1.5rem;
    text-align: left;
    margin: 0 auto;
    max-width: 600px
  }

  p.citation {
    color: #37485a;
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    max-width: 600px
  }

  .one {
    justify-content: center;
    margin-left: 400px; 
    margin-right: 400px; 
    border-radius: 4px; 
    background-color: rgb(242,249,249); 
    padding: 18px; 
    height: 90vh;
  } 

  .one00 { /* for toiletbowl tiles drain */
    justify-content: center;
    margin-left: 400px; 
    margin-right: 400px; 
    border-radius: 4px; 
    background-color: rgb(242,249,249); 
    padding: 18px; 
    height: 115vh;
  } 

  .one001 { /* for showerhead */
    justify-content: center;
    margin-left: 400px; 
    margin-right: 400px; 
    border-radius: 4px; 
    background-color: rgb(242,249,249); 
    padding: 18px; 
    height: 118vh;
  } 


  .one1 { /* for guidesTips */
    justify-content: center;
    margin-left: 400px; 
    margin-right: 400px; 
    border-radius: 4px; 
    background-color: rgb(242,249,249); 
    padding: 18px; 
    height: 320h;
  } 

  .one2 { /* for LifeHacks */
    justify-content: center;
    margin-left: 400px; 
    margin-right: 400px; 
    border-radius: 4px; 
    background-color: rgb(242,249,249); 
    padding: 18px; 
    height: 320h;
  } 
  /* toiletbowl box */
  .toiletbowl {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/toilet.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  /* tiles box*/
  .tiles {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/tiles.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  /* mirrorglass box */
  .mirror {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/mirror.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  /* showerhead box */
  .showerhead {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/shower.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  /* drain box */
  .drain {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/drain.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }


  /* tips box */
  .tips {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/tips.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  /* lifehacks box */
  .lifehacks {
    height: 17rem;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-image:image-set("images/life hacks.png");
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
/* nav */

#desktop-nav{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px 4px rgba(0,0,0,0.1);
    padding: 0.2rem;
    padding-right: 5rem;
    padding-left: 1.5rem;
    display: flex;
    height: fit-content;
    min-height: 3vh;
}

.logo{
    justify-content: flex-start;
    height: 4rem;
    margin-right: auto;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: flex-end;
    align-items: center;
    height: 17vh;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 #00000033;
}

.nav-links {
    gap: 4rem;
    list-style:none;
    font-size: 1.2rem;
    font-family: "Glacial";
}

a {
    color: #5ca4a9;
    text-decoration: none;
}

a:hover {
    color: #f6ae4e;
}

/* nav */

/*footer*/

p{
    margin: 0;
}

.upper{
    padding-top: 2rem;
}

.footer{
    height: 10rem;

    background-color: #37485a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 0.9rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
}

.fourImgLogo{
    height: 5rem;
    padding: 0.7rem 3rem;
}

.fourImg{
    height: 1.5rem;
    padding: 1.2rem 0.6em;
}

.navfooter{
    padding: 1.2rem 0.6em;
}

a.navfooter, p{
    color: #d8d8d8;
    font-family: "Glacial";
}

hr{
    width: 50rem;
    margin: 0;
    border-color: #b6b6b6;
}