* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Glacial';
    src: url('../fonts/GlacialIndifference-Regular.otf'); 
  }

  @font-face {
    font-family: 'Glacial Bold';
    src: url('../fonts/GlacialIndifference-Bold.otf'); 
  }

  @font-face {
    font-family: 'League';
    src: url('../fonts/LeagueSpartan-Bold.otf'); 
  }


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    width: 100%;
    background-color: #37485a;
}


h1{
    color: #f9f9f9;
    font-family: "League";
    font-size: 6rem;
    line-height: 1.1;
    width: fit-content;
}

h2{
    color: #f9f9f9;
    font-family: "Glacial";
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: 0.09em;
    font-weight:normal;
    width: fit-content;
}

h3{
    color: #f9f9f9;
    font-family: "League";
    font-size: 1.2rem;
    line-height: 1.1;
    width: fit-content;
}

button, .button {
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    margin-top: 1rem;


    background-color: #f6ae4e;
    color: #f9f9f9;

    font-size: 1rem;
    font-family: "Glacial Bold";
    text-align: center;

    cursor: pointer;
  }

  .button:hover{
    background-color: #d88e2c;
  }
/* nav */

#desktop-nav{
    padding: 0.2rem;
    padding-right: 5rem;
    padding-left: 1.5rem;
    display: flex;
    height: fit-content;
    min-height: 3vh;
}

.logo{
    justify-content: flex-start;
    height: 4rem;
    margin-right: auto;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: flex-end;
    align-items: center;
    height: 17vh;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 #00000033;
}

.nav-links {
    gap: 4rem;
    list-style:none;
    font-size: 1.2rem;
    font-family: "Glacial";
}

a {
    color: #5ca4a9;
    text-decoration: none;
}

a:hover {
    color: #f6ae4e;
}

/* nav */

.one{
    -webkit-box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
-moz-box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
    height: 30rem;

    background-color: #f9f9f9;
    background-image: url("../images/bgone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
    
}

.two{
    height: 30rem;

    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 5rem 4rem 7rem 4rem;
}

.three{
    height: 20rem;

    background-color: #f9f9f9;
    background-image: url("../images/bgthree.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: end;

    padding-top: 7rem;
    padding-bottom: 3rem;
}

.footer{
    height: 10rem;

    background-color: #37485a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 1.5rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


h1.sub{
    color: #5ca4a9;
    font-size: 3rem;
    text-align: center;

    margin: 0 auto;
}

h2.sub{
    color: #38757a;
    font-size: 1.5rem;
    text-align: center;
    font-weight:normal;

    margin: 0 auto;

}

span{
    color: #f6ae4e;
}

.link-container{
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    gap: 4rem;
}

.guides, .products{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
  
  .guides:hover {
    transform: translateY(-20px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); 
  }

  .products:hover {
    transform: translateY(-20px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); 
  }

h3.cleaningText{
    margin: 1rem auto 0.1rem auto;
}

p.cleaningText{
    color: #f9f9f9;
    text-align: center;
    padding: 0.1rem 2rem;
    font-family: "Glacial";
}

p.cleaningTextSmall{
    color: #f9f9f9;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.1rem 2rem;
    font-family: "Glacial";
}

.guides{
    
    height: 20rem;
    width: 16rem;
    border-radius: 25px;

    background-color: #f6ae4e; 
}

.products{
    
    height: 20rem;
    width: 16rem;
    border-radius: 25px;

    background-color: #5ca4a9;
}

img.link-img{
    height: 13rem;
    width: 16rem;
    border-radius: 25px;

}

.threeText{
    margin-left: auto; 
    margin-right: 3rem;
}

h1.threeText{
    font-size: 4.8rem;
    margin-top: 2rem;
}

.icons{
    display: flex;
    justify-content: center;
}

.fourImgLogo{
    height: 5rem;
    padding: 0.7rem 3rem;
}

.fourImg{
    height: 1.5rem;
    padding: 1.2rem 0.6em;
}

.navfooter{
    padding: 1.2rem 0.6em;
}

a.navfooter, p{
    color: #d8d8d8;
    font-family: "Glacial";
}

hr{
    width: 50rem;
    border-color: #b6b6b6;
}


