@font-face {
    font-family: 'Glacial';
    src: url('../fonts/GlacialIndifference-Regular.otf'); 
  }

  @font-face {
    font-family: 'Glacial Bold';
    src: url('../fonts/GlacialIndifference-Bold.otf'); 
  }

  @font-face {
    font-family: 'League';
    src: url('../fonts/LeagueSpartan-Bold.otf'); 
  }

  body{
    background-color: #37485a;
  }

/* nav */

#desktop-nav {
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center; 
    height: fit-content;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 #00000033;
}

.logo {
    height: 4rem;
    margin-right: 2vw;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2vw; 
    font-size: 1.2rem;
    font-family: "Glacial";
}

.nav-links li {
    display: inline; 
}

a {
    color: #5ca4a9;
    text-decoration: none;
}

a:hover {
    color: #f6ae4e;
}

/* nav */

body{
    margin: 0;
}

main {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 3.5rem 12vw;
    padding-bottom: 10rem;
}




.one{
    display: flex;
    flex-direction: row;
}

.products{
    height: fit-content;
    background-color: #5ca4a9;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 20px;
    margin-right: 4rem;
}

.pic img{
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    width: 15rem;
}

.signif{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    width: 15rem;
    min-height: fit-content;
}

h1, h2, h3, .one p{
    margin-bottom: 0;
    letter-spacing: 0.1em;
}

h1, h2{
    font-family: "League", sans-serif;
}
 h3, p{
    font-family: "Glacial", sans-serif;
    color: #37485a;
 }

h1{
    color: #f6ae4e;
    font-size: 3vw;
}

h2{
    color: #318287;
    font-size: 2vw;
}
h3{
    font-size: 1.2vw;
}

p{
    font-size: 1.2vw;
}

h4{
    margin: 0;
    margin-top: 0.5rem;
    letter-spacing: 0.03em;
    font-family: "League", sans-serif;
    color: #f6ae4e;
    font-size: 1.2vw;
    text-align: center;
}

.signif ul{
    letter-spacing: 0.03em;
    font-family: "Glacial", sans-serif;
    color: #318287;
    font-weight: bold;
    font-size: 0.8vw;
}




/*footer*/

.footer p{
    margin: 0;
}

.upper{
    padding-top: 2rem;
}

.footer{
    height: 10rem;

    background-color: #37485a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 1.5rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
}

.fourImgLogo{
    height: 5rem;
    padding: 0.7rem 3rem;
}

.fourImg{
    height: 1.5rem;
    padding: 1.2rem 0.6em;
}

.navfooter{
    padding: 1.2rem 0.6em;
}

a.navfooter, .footer p{
    color: #d8d8d8;
    font-family: "Glacial";
}

hr{
    width: 50rem;
    margin: 0;
    border-color: #b6b6b6;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    left: 2rem; 
    margin-right: 2rem;
    width: fit-content;  
    
    
    z-index: 1;
}

#search-bar {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Glacial";
    border: 3px solid #5CA4A9;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    width: 15rem;  
}


#search-bar:focus {
    border-color: #f6ae4e;
    box-shadow: 0 0 5px #f6ae4e80;
}

#cart-img{
    height: 1.8rem;
    margin-top: 0.3rem;
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
#cart-img:hover {
    box-shadow: 0 0 5px #ffffff51;
}

#qResults {
    background-color: #f9f9f9;
    display: none;
    position: absolute;  
    top: 100%;  
    left: 0;  
    width: 17rem;  
    max-height: fit-content; 
    overflow-y: hidden; 
    overflow-x: hidden; 
    z-index: 10; 
    
}

#qResults > a {
    border-bottom: 1px solid #dddddd;
    display: block;
    font-family: "Glacial";
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
    line-height: 40px;
    padding-left: 10px;
    text-decoration: block;
    transition: all 0.2s linear 0s;
    width: 100%; 
    margin-left: auto;
}

#qResults > a:hover {
    background-color: #5CA4A9;
    color: #f9f9f9;
}


.add-to-cart-btn {
    background-color: #5CA4A9;
    color: #FFFFFF;
    font-family: "Glacial";
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

.add-to-cart-btn:hover {
    background-color: #f6ae4e;
}



.cart-container {
    position: relative; 
}

.cart-item-container {
    position: absolute; 
    top: 4.3rem; 
    right: 0; 
    background: #f9f9f9;
    font-family: "Glacial";
    width: 23rem;
    height: fit-content;
    display: none; 
    padding: 15px;
    z-index: 1000; 
}



.cart-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5CA4A9;
    font-family: "League", sans-serif;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.cart-items {
    max-height: fit-content;
    overflow-y: hidden;
    margin-bottom: 15px;
    font-family: "Glacial";
    height: fit-content;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Glacial";
    font-size: 1.2vw;
}

.cart-item button {
    background-color: #dc902d;
    color: #fff;
    border: none;
    font-family: "Glacial";
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

.cart-item button:hover {
    background-color: #a83642;
}

.cart-p{
    font-size: 1vw;
    margin: 0;
    font-weight: normal;
    color: #37485aa8;
}