@font-face {
    font-family: 'Glacial';
    src: url('../fonts/GlacialIndifference-Regular.otf'); 
  }

  @font-face {
    font-family: 'Glacial Bold';
    src: url('../fonts/GlacialIndifference-Bold.otf'); 
  }

  @font-face {
    font-family: 'League';
    src: url('../fonts/LeagueSpartan-Bold.otf'); 
  }

  body{
    background-color: #37485a;
  }

/* nav */

#desktop-nav {
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center; 
    height: fit-content;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 #00000033;
}

.logo {
    height: 4rem;
    margin-right: 2vw;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2vw; 
    font-size: 1.2rem;
    font-family: "Glacial";
}

.nav-links li {
    display: inline; 
}

a {
    color: #5ca4a9;
    text-decoration: none;
}

a:hover {
    color: #f6ae4e;
}

/* nav */

body{
    margin: 0;
}

main {
    -webkit-box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
    -moz-box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
    box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.14);
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 3.5rem 12vw;
    padding-bottom: 10rem;
}

.guides h1 {
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    font-family: "League", sans-serif;
    margin-top: 0;
}
.cleaning-word{
    color: teal;
}
.guide-word{
    color: orange;
}

.guide-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.guide-container {
    position: flex;
    flex-direction: column;
    background-color: #5CA4A9;
    border-radius: 30px;
    width: 178px;
    height: 290px;
    padding: 2.5rem;
    padding-top: 0;
    text-align: center;
}

/* hover */
.guide-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .guide-container:hover {
    transform: translateY(-20px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); 
  }

  /* hover */

.space{
    margin-left: 0.6rem;
}

.guide-container img {
    right: 0px;
    margin-left: -2.5rem;
    top: 0px;
    width: 14.8rem;
    border-radius: 30px;
    border: 11.5px solid #ffffff;
    
}

.guide-container h2 {
    top: 12rem;
    text-align: center;
    font-size: 1.3rem;
    color: #f9f9f9;
    margin-top: .5rem;
    font-family: "Glacial Bold", sans-serif;
}


/*footer*/

p{
    margin: 0;
}

.upper{
    padding-top: 2rem;
}

.footer{
    height: 10rem;

    background-color: #37485a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 1.5rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
}

.fourImgLogo{
    height: 5rem;
    padding: 0.7rem 3rem;
}

.fourImg{
    height: 1.5rem;
    padding: 1.2rem 0.6em;
}

.navfooter{
    padding: 1.2rem 0.6em;
}

a.navfooter, p{
    color: #d8d8d8;
    font-family: "Glacial";
}

hr{
    width: 50rem;
    margin: 0;
    border-color: #b6b6b6;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    left: 2rem; 
    margin-right: 2rem;
    width: fit-content;  
    
    
    z-index: 1;
}

#search-bar {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Glacial";
    border: 3px solid #5CA4A9;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    width: 15rem;  
}


#search-bar:focus {
    border-color: #f6ae4e;
    box-shadow: 0 0 5px #f6ae4e80;
}

#cart-img{
    height: 1.8rem;
    margin-top: 0.3rem;
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
#cart-img:hover {
    box-shadow: 0 0 5px #ffffff51;
}

#qResults {
    background-color: #f9f9f9;
    display: none;
    position: absolute;  
    top: 100%;  
    left: 0;  
    width: 17rem;  
    max-height: fit-content; 
    overflow-y: hidden; 
    overflow-x: hidden; 
    z-index: 10; 
    
}

#qResults > a {
    border-bottom: 1px solid #dddddd;
    display: block;
    font-family: "Glacial";
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
    line-height: 40px;
    padding-left: 10px;
    text-decoration: block;
    transition: all 0.2s linear 0s;
    width: 100%; 
    margin-left: auto;
}

#qResults > a:hover {
    background-color: #5CA4A9;
    color: #f9f9f9;
}


.cart-item-container {
    position: fixed;
    top: 80px;
    right: 20px;
    background: #fff;
    font-family: "Glacial";
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 15px;
}

.cart-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5CA4A9;
    font-family: "League", sans-serif;
    margin-bottom: 1vw;
}

.cart-items {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 15px;
    font-family: "Glacial";
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Glacial";
    font-size: 1.2vw;
}

.cart-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    font-family: "Glacial";
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

.cart-item button:hover {
    background-color: #c82333;
}

.cart-p{
        font-size: 1vw;
        margin: 0;
        font-weight: normal;
        color: #37485aa8;
}